<h4>Create new Author</h4>
<form action="/catalog/author/create" method="POST">
    <label for="">first name</label>
    <input type="text" name="first_name" placeholder="first_name">
    <br>
    <label for="">last name</label>
    <input type="text" name="family_name" placeholder="last_name">
    <br>
    <label for="">birth date</label>
    <input type="date" name="date_of_birth">
    <br>
    <label for="">death date</label>
    <input type="date" name="date_of_death">
    <br>
    <input type="submit" value="submit">
</form>