<div>
    <label for="Profile">Profile</label>
    <p>{{user.displayName}}</p>
    <div class="other-page">
        <p>
            {{user.id}} <br>
            {{user.emails.0.value}}<br>
            <strong>Name : </strong>{{user.displayName}} <br>
        </p>
    </div>

</div>